<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!-- development:开发模式     work:工作模式 -->
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC" />
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver" />
                <property name="url" value="jdbc:mysql://localhost:3306/booksystem" />
                <property name="username" value="root" />
                <property name="password" value="123456" />
            </dataSource>
        </environment>
    </environments>

    <!-- 实体类,简称 -设置别名 -->
    <!--<typeAliases>-->
        <!--<typeAlias alias="User" type="com.zbw.springtest.model.User" />-->
    <!--</typeAliases>-->
    <!-- 实体接口映射资源 -->
    <!--
        说明：如果xxMapper.xml配置文件放在和xxMapper.java统一目录下，mappers也可以省略，因为org.mybatis.spring.mapper.MapperFactoryBean默认会去查找与xxMapper.java相同目录和名称的xxMapper.xml
    -->
    <mappers>
        <!--<mapper resource="/config/usermapper.xml" />-->
        <mapper class="com.zbw.springtest.dao.IUserDao"/>
        <mapper class="com.zbw.springtest.dao.IAddressDetailDao"/>
        <mapper class="com.zbw.springtest.dao.IAddressDao"/>
    </mappers>

</configuration>